body { background-color:#638E96; color:#000C0E;width:80%;padding-top:10px;  margin:auto;}

#main{
    

}

.bold {
    font-weight:bold;
    font-size:20px;
}

h1 {text-align:center;
}

.auto-style6 {
    text-align:right;
}
.cssgridview {
    width:auto;
    margin:5px 0 10px 0;
    border:solid 1px #255E69;
    border-collapse:collapse;
    text-align:center;
    font-family: "Comic Sans MS"
}

    .cssgridview td {
        padding:10px;
        border:solid 1px #02323B;
        color:#000C0E;
    }

    .cssgridview th {
        padding:10px;
        color:#000C0E;
        background:#DDE4E5;
        border-left:solid 1px #000C0E;
    
    }

    .cssgridview .alt {
        background-color:#255E69;
    }

